@using UdayChinhamoraWebsite
@using UdayChinhamoraWebsite.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Ticket>

<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Sprint Number: </label>
                <select name="filter" class="form-control">
                    <option value="all">All</option>
                    @foreach (Ticket ticket in Model)
                    {
                        <option value="@ticket.SprintNum">@ticket.SprintNum</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Point Value: </label>
                <select name="filter" class="form-control">
                    <option value="all">All</option>
                    @foreach (Ticket ticket in Model)
                    {
                        <option value="@ticket.PointVal">@ticket.PointVal</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Status: </label>
                <select name="filter" class="form-control" asp-items="@(new SelectList(ViewBag.Statuses, "Id", "Name").OrderBy(x=>x.Value))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>
    </div>

    <div class="col-sm-10">
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sprint Number</th>
                    <th>Point Value</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket ticket in Model)
                {
                    <tr>
                        <td>@ticket.Name</td>
                        <td>@ticket.SprintNum</td>
                        <td>@ticket.PointVal</td>
                        <td>@ticket.Description</td>
                        <td>@ticket.Status</td>
                        <td>
                            <form asp-action="Edit" method="post" asp-route-id="@ViewBag.Filters.FilterString" class="mr-2">
                                <input type="hidden" name="@nameof(Ticket.Id)" value="@ticket.Id">
                                <button type="submit" name="@nameof(Ticket.StatusId)" value="d" class="btn btn-primary btn-sm">
                                    Mark Complete
                                </button>
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Add" class="btn-link"><h3>Add New Ticket</h3></a>
    </div>
</div>
