@model List<UdayChinhamoraWebsite.Models.StudentViewModel>

@{
    ViewData["Title"] = "Student";
    int accesslevel = ViewBag.AccessLevel;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Students</h2>

<h4>List of All Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @if (accesslevel >= 8)
            {
                <label>Hello Admin</label>
            }
            @foreach (var i in Model)
            {
                <div>
                    <table>
                            @if (accesslevel <= 2)
                        {
                            <label>You do not have a sufficient access level to view this data.</label>
                        }
                            else if (accesslevel >= 2 && accesslevel <= 8)
                        {
                            <tr>
                                <th> First Name: &nbsp;</th>
                                <td> @i.FirstName &nbsp;</td>
                                <th> Last Name: &nbsp;</th>
                                <td> @i.LastName &nbsp;</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> First Name: &nbsp;</th>
                                <td> @i.FirstName &nbsp;</td>
                                <th> Last Name: &nbsp;</th>
                                <td> @i.LastName &nbsp;</td>
                                <th> Grade: &nbsp;</th>
                                <td> @i.Grade &nbsp;</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>

<div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Back To Homepage</b></a>
</div>

</body>

</html>